* {
    padding: 0px;
    margin: 0px;
    font-family: cursive;

}

body {
     background-image: radial-gradient(circle at 0 0, #5DFD71, #FF9700);
}

div {
    padding: 30px;
    background-color: #fff;
    margin: 50px;
    box-shadow: 0px 0px 12px #ccc;

}

input {
    padding: 9px;
    font-size: 18px;
    border: solid 1px #aaa;
    width: 80%;

}

input[type="button"] {
    width: 15%;
}


