* {
    padding: 0px;
    margin: 0px;
    font-family: cursive;

}

body {
     background-image: radial-gradient(circle at 0 0, #5DFD71, #FF9700);
}

div {
    padding: 30px;
    background-color: #fff;
    margin: 50px;
    box-shadow: 0px 0px 12px #ccc;

}

input {
    padding: 9px;
    font-size: 18px;
    border: solid 1px #aaa;
    width: 80%;

}

input[type="button"] {
    width: 15%;
}

.evita {
    width: 35%;
    margin: auto;
    padding: 5px;
    border-radius: 5%;
    display: flex;

}

@media screen and (min-width:360px) {
    input {
    padding: 9px;
    font-size: 10px;
    border: solid 1px #aaa;
        font-family: monospace;
        font-weight: bold;
    width: 100%;
    }

    input[type="button"] {
    width: 55%;
}

}
@media screen and (min-width:500px) {
    input {
    padding: 9px;
    font-size: 15px;
    border: solid 1px #aaa;
    width: 100%;
    }

    input[type="button"] {
    width: 55%;
}

}
@media screen and (min-width:1024px) {
    input {
    padding: 9px;
    font-size: 20px;
    border: solid 1px #aaa;
    width: 80%;
    }

    input[type="button"] {
    width: 15%;
}





}
